@model Shop1.Entities.Books_Catalog

@{
    ViewBag.Title = "Удалить";
}

<div>
    <h2>Удалить</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_age_categ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_age_categ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_price) рублей
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "ListOfBooks")
        </div>
    }
</div>
